@use "./params" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #2a201c;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

// Footer
.footer {
  padding: 35px 0;
  border-top: 1px solid $color-white-light;
  background: $color-white-light;

  &__container {
    width: min(100% - 40px, 1200px);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
  }

  &__logo {
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    color: #111;

    span {
      color: $color-orenge;
    }
  }

  &__text {
    color: $color-brown;
    font-size: 15px;
    line-height: 1.4;
  }
}